

.blue-text {
  font-weight: normal;
  color: #299cd7;
}

.questionnaire-header {
    margin-bottom: 28px;
    text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.results-header {
  text-align: center;
}

.btn {
    /*margin: 5px;*/
    padding: 15px 20px;
    text-align: center;
    display: inline-block;
    /*box-sizing: border-box;*/
    cursor: pointer;
    border-radius: 3px;
}

.App-intro {
  /*font-size: large;*/
}

.question {
    margin-bottom: 24px;
}

.clickable-option {
    display: flex;
    align-items: center;
    text-align: inherit;
}

.clickable-option > div {
    height: 24px;
}

.single-select {
    width: 24px;
    margin-right: 10px;
    border: 3px solid #299cd7;
    border-radius: 24px;
}

.clickable-option:hover {
    background-color: #f6f8fb;
}

.questionnaire-page > div, .results-page > div {
  padding: 5px;
}

.questionnaire-footer {
    display: flex;
    justify-content: center;
}

.results-footer a {
  padding: 10px;
  cursor: pointer;
}

.resource-options {
  display: flex;
  flex-flow: row wrap;
}

.contact-card {
  padding: 15px 20px;
  display: flex;
  flex-grow: 1;
  flex-flow: column nowrap;
  border-bottom: 1px solid #d6d6d5;
}

.contact-image {
  width: 160px;
  height: 160px;
  border-radius: 80px;
  margin: auto;
}

.contact-info p:last-child {
  font-size: 12px;
  font-style: italic;
}

.btn.primary {
    text-transform: uppercase;
    color: #fff;
    background: #299cd7;
}

.btn.disabled {
    pointer-events: none;
    background-color: #a1a1a1;
}

.btn.btn-large {
    min-width: 200px;
    padding: 18px 25px;
}
